.App {
  text-align: center;
  background-color: rgba(99, 82, 67, 0.615);
}

.App-header {
  background:black;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(253, 248, 248);
}

.App-link {
  color: #61dafb;
}
.hero{
  color: #431065a9;
}
.h1{
  color: rgb(255, 250, 250);
}
.h2{
  color: rgb(255, 255, 255);
}
.card{
  background-color:rgb(53, 52, 51)
}
.navbar-nav{
  background-color: black;
}
.nav-link{
  color: rgb(77, 77, 77);
}
.nav-link:hover{
  color: rgb(222, 222, 222);
}
.navbar-nav .nav-link {
  margin: 0 10px;
  font-weight: 500;
  transition: 0.3s;
}
.btn{
  color: #eac580a9;
}
.glow-btn{
  color:#eac580a9;
}
.brand-name{
  color: #333232a9;
}
.hero-section {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.hero-section img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}
.hero-section {
  margin-top: 20px;
}

.hero-text {
  padding: 40px;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: bold;
}

.hero-text p {
  font-size: 18px;
  color: #555;
}
.product_img {
  transition: 0.3s;
}

.card:hover .product_img {
  transform: scale(1.05);
}

.card {
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: rgba(43, 36, 29, 0.615);
  padding: 20px;
  transition: 0.35s ease;
  z-index: 1000;
  border-right: 1px solid #181818;
}

.sidebar.active {
  left: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.sidebar-title {
  color: #efefef;
  margin-bottom: 20px;
}

.sidebar-item {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  color: #cbd5f5;
  cursor: pointer;
  transition: 0.25s;
}

/* HOVER */
.sidebar-item:hover {
  background: #3b2d1e;
  color: white;
  transform: translateX(5px);
}

/* ACTIVE (CLICKED LIKE REAL APPS) */
.active-item {
  background: rgba(198, 149, 89, 0.673);
  color: #fffdf8d7;
  border-left: 3px solid #ffffff;
}
.cart-icon {
  background: rgba(43, 36, 29, 0.9);
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid #eac580a9;
  font-weight: bold;
  color: #eac580a9;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(234, 197, 128, 0.15);
}

/* HOVER EFFECT */
.cart-icon:hover {
  background: #eac580a9;
  color: black !important;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(234, 197, 128, 0.4);
}
.remove-btn {
  margin-left: auto;
  background: rgba(255,255,255,0.08);
  color: #eac580a9;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 16px;
}

/* HOVER */
.remove-btn:hover {
  background: rgba(234, 197, 128, 0.2);
  color: white;
  transform: scale(1.1);
}